.sidebar-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 6px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #545dff;
}
